/* HEADER */
.containerHeader{
  background-color: #d4d4d4;
  text-decoration: none;
}

 .containerLogo img {
  width : 110px;
  height : 90px;
  
} 
/* CONTENU */
.containerCoworking{
  display: flex;
  justify-content: center;
  
}
/* FOOTER */
footer img{  
  width : 110px;
  height : 90px;
;}